table, th, td {border: 1px solid black}
body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;}
h1, h2 {color: blue;}
.evenrow {background-color: cadetblue;}
h1 {font-size: 2em;;}
h2 {font-size: 2em;}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}